<?xml version="1.0" ?>

<!-- Programa que incluye el modelo de vehículo autónomo en la simulación -->

<launch>
    <arg name="robot" default="catvehicle"/>
    <arg name="X" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="Z" default="5"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="0"/>
    <arg name="camera_left" default="false"/>
    <arg name="camera_right" default="false"/>
    <arg name="triclops" default="true"/>
    <arg name="velodyne_points" default="true"/>
    <arg name="laser_sensor" default="false"/>
    <arg name="obstaclestopper" default="false"/>
    <group ns="$(arg robot)">
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find catvehicle)/urdf/catvehicle.xacro' roboname:='$(arg robot)' camera_left:='$(arg camera_left)'  camera_right:='$(arg camera_right)' triclops:='$(arg triclops)' velodyne_points:='$(arg velodyne_points)' laser_points:='$(arg laser_sensor)'" />
        <include file="$(find catvehicle)/launch/catvehicle.launch">
            <arg name="robot_name" value="$(arg robot)"/>
            <arg name="obstaclestopper" value="$(arg obstaclestopper)"/>
            <arg name="init_pose" value="-x $(arg X) -y $(arg Y) -z $(arg Z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
            <arg name="config_file" value="catvehicle_control.yaml"/>
        </include>
    </group>

</launch>
